USE [master]
GO
/****** Object:  Database [CRUD_STUDENT]    Script Date: 6/7/2022 12:37:29 AM ******/
CREATE DATABASE [CRUD_STUDENT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUD_STUDENT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CRUD_STUDENT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRUD_STUDENT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CRUD_STUDENT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUD_STUDENT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUD_STUDENT]
GO
/****** Object:  Table [dbo].[tbl_gender]    Script Date: 6/7/2022 12:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_gender](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_gender] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_student]    Script Date: 6/7/2022 12:37:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [nvarchar](50) NULL,
	[lastname] [nvarchar](50) NULL,
	[age] [int] NULL,
	[address] [nvarchar](50) NULL,
	[gender] [bit] NULL,
 CONSTRAINT [PK_tbl_student] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_gender] ON 

INSERT [dbo].[tbl_gender] ([id], [name]) VALUES (1, N'Male')
INSERT [dbo].[tbl_gender] ([id], [name]) VALUES (2, N'Female')
SET IDENTITY_INSERT [dbo].[tbl_gender] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_student] ON 

INSERT [dbo].[tbl_student] ([id], [firstname], [lastname], [age], [address], [gender]) VALUES (1, N'Md. Azizur', N'Rohman', 23, N'549/1, Arambag', 1)
SET IDENTITY_INSERT [dbo].[tbl_student] OFF
GO
USE [master]
GO
